@charset "utf-8";
/* CSS Document */

/* font */

body{
    margin:0px;
    background-color: #0E2A55;
    background-image: url(_images/uninter-loginbg.jpg)
}



.body-bg{
    background-image: url(_images/uninter-login-bg.jpg);
    height: 100vh;
    width:100vw;
    left: 0px;
    top:0px;
    background-repeat: no-repeat;
    background-size:cover;

    

    
    
}





.header-univirtus{
    height: 77px;
    width:100vw;

    
}


.logo img{
    top: 20px;
    left: 20px;
    position: absolute;
    max-width: 20vw;

}
.logo-univirtus img{
    top: 20px;
    left: 50vw;
    position: absolute;
    margin-left: -63.5px;
    max-width: 20vw;
}

.login{
    width:100vw;
    padding-top: 250px;

padding-left: 50vw;
    
}

a{
    text-decoration: none;
}


.box{
    background-color: rgba(255, 255, 255, .4);

    border-radius: 6px;
    width:400px;
    height:520px;
margin-left: -200px;
    -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);

    
}

.perfil-login img{
    margin-top: -64px;
    padding-left: 50%;
    margin-left: -64px;
    
}

.login-conteudo{
    text-align: center;
    
}

.login-conteudo h3{
    color:white;
}


.login-conteudo h4{
    color:white;
}



.form{
    background-color: white;

    vertical-align: middle;
    border-radius: 6px;
    width: 80%;
    position: relative;
    left: 50%;
    margin-left:-40%;

    
}

.form p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #A1A1A1;
    position: relative;
    padding: 10px;

}

.entrar{
    background-color: #F5AC15;
    vertical-align: middle;
    border-radius: 6px;
    width: 80%;
    position: relative;
    left: 50%;
    margin-left:-40%;
    
}

.entrar:hover{
    background-color:#DF9600;
}

.entrar p{
    position: relative;
    padding: 10px;
    color:white;
}


.login-icon{

}

.login-icon p{
    margin-block-start: 0.1em;
    color: white;
    opacity: 0.5;
}




.perfil{
    margin-top: -68px;
    
}

.login-conteudo{
        font-family: 'Roboto Condensed', sans-serif;
}


.profile{
    left:10px;
    
}

.profile-box{
    
}


/*início____________*/
.perfil-header img{
    padding:10px;
    right:20px;
    position:absolute;
    
    
}

.left-bar{
    height:264px;
    width:220px;
    background-image: "_images/lGroup 49.png";

    position: relative;
    border-radius: 8px;
    margin: 10px;
    
    
}

.left-banner img{
    width:220px;
    background-size: cover;
}

.profile-left{
    position: relative;
}

.profile-left img{


    margin-top:-53.5px;

}



.left-bar .left-content{
    position: absolute;


    width:220px;
    height: 164px;
    bottom: 0px;
    border-radius: 10px;
        background-color: 
        rgba(255, 255, 255 );

    border-radius: 6px;

    -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);

    
}

.background-left{
    position: absolute;
    top: 0px;
    top: 0px;
    align-self: center;
    background-color: pink;
    height: 100px;
    width:100px;
    background-size:cover;

}

.name-left{
    color:#0E2A55;
    
}

.ru-left{
    color:gray;
}
.left-content{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

}

.left-menu{
    width: 220px;
    
    font-family: 'Roboto Condensed', sans-serif;
    margin-left:10px; 
    background-color: rgba(255, 255, 255 );

    border-radius: 6px;

    -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
    text-align: c

}

.left-col{
    float:left;

}



.left-menu h4{
    color:#0E2A55;
    display: block;
    margin-block-start: .2em;
    margin-block-end: .3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    font-size: .8em;

}
    
.left-menu .content{
    padding:10px;


}


.col-curso{
    display:inherit;
box-sizing: border-box;

    overflow: auto;
    margin-bottom: 10px;
width: calc(100vw - 270px);
}

.col-video{
    -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
    float: left;
    text-align: center;
    width:calc(50% - 20px);
    padding: ;
    text-decoration: none;

    background-color: white;
    border-radius: 6px;
   overflow: hidden;

    
    
    margin-block-start: .2em;
    margin-block-end: .2em;
    margin-right:20px;
    
}


.col-video video{
    width:100%;
        
    font-family: 'Roboto Condensed', sans-serif;
    border-radius:6px;
 
}

.col-border{
    border-radius: 6px;
    overflow: hidden;
}
.col-content{    
 
    overflow-y: scroll; 
    
    max-height: calc(100vh - 170px);
    float: left;
    text-align: center;
    width:calc(50% - 20px);

    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
        background-color: 
        rgba(255, 255, 255 );

    border-radius: 6px;

    -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
    font-family: 'Roboto Condensed', sans-serif;
    
    
    margin-block-start: .2em;
    margin-block-end: .2em;
    margin-right:20px;
}


.col-content{
    text-align: left;

}

.imagem-col{
    width: 100%;
}

.cbox{
    background-color:#0E2A55;
    border-radius:6px;
}

.cbox h5{
    color:white;
    font-weight:normal;
    padding: 10px;
    
}

.proxima{
    background-color:orange;
    color:white;
    border-radius:6px;
}

.proxima:hover{
        background-color:orange;
}

.main-area{
    display: block;
    float:left;
    margin-left:10px; 
       
    margin-top:10px;


    font-family: 'Roboto Condensed', sans-serif;
    color: #7A7A91;
}

.top-ma{
    display:inherit;
box-sizing: border-box;

    overflow: auto;
    margin-bottom: 10px;
    width:100%;
}

.tabs h4{
    color:gray;
    float: left;
    text-align: center;
    width:calc( 33% - 5px);
    padding: 10px;
    text-decoration: none;

        background-color: 
        rgba(255, 255, 255 );

    border-radius: 6px;

    -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
    font-family: 'Roboto Condensed', sans-serif;
    
    
    margin-block-start: .2em;
    margin-block-end: .2em;
        
}

.selected{
    background-color: #fdb414 !important;
    color: white !important;
}
.space{
    float: left;
    width:10px;
    height:1px;
}
.link{
    text-decoration: none;   

}

.tabs{
    text-decoration: none;
}
.tabs h4:hover{
    background-color:#F2F2F2;
}



.dashboard{
    display: block;
    flex: auto;



    height: calc(100vh - 230px);

    border-radius: 10px;
        background-color: 
        rgba(255, 255, 255 );

    border-radius: 6px;

    -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
    font-family: 'Roboto Condensed', sans-serif;
    
}

.course1 img{
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    height:100%;
    width: 100%;

    background-color: rgba(255, 255, 255 );
    border-radius: 6px;

    -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
    font-family: 'Roboto Condensed', sans-serif;
    
}



.course1 h1{
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}





}
h6 { font-size: 22px; }

.banner h1, .banner h2, .banner h6 {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}

.banner {

    width:calc(100vw - 270px);
    background-position: 50% 50%;
  color: white;
    margin-bottom: 10px;
  background: center center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 6px;
        -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
    font-family: 'Roboto Condensed', sans-serif;
    
}

.dbox{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);
box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.55);

}
.dbox h4{
        padding-left: 10px;
        margin-block-start: .4em;
    margin-block-end: .4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-decoration: none;

}

.dbox-line{
    margin: 0px 10px 0px 10px;
          border-style: solid;
    color:#EFEFEF;
  border-width: 0px 0px 2px 0px;

}

.dbox a{
    color:#7A7A91;
    text-decoration: none;
}

.dbox a:hover{
     color:#a7a7c1;
}



/*video player_____________________*/


@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Oswald:300);
* { box-sizing: border-box; }

body { 
	
	font-family: 'Roboto Condensed', sans-serif;
  
}

.saiba{
  font-size: 12px;
    color:#0E2A55;

    text-align: left;

    vertical-align: middle;
}

.saiba img{
    width: 40px;
    float: left;
    margin-right:10px;
}

.saiba p{

    margin-left: 10px;
    text-align: left;

}




@media only screen and (max-width: 1026px) {
    .left-col {
        display: none;
    }
    
 
    
    .col-curso{
        width:95vw;
        max-height: calc=40vh;
     
    }
    
    .col-video{
        position: relative;
        width:95vw;
        max-height: 40vh;
        background-color: black;
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 0px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 0px 0px -1px rgba(0,0,0,0.55);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.55);
    font-family: 'Roboto Condensed', sans-serif;
        object-fit: scale-down;
        margin: auto;
        
    }
    .col-video video{
        width: auto;
        height: 40vh;
        max-width: 95vw;
    }

    .col-content{
        height:;
        max-height: 40vh;
        width: 95vw;
    }
    
    .banner{
        width: 95vw;
    }
    

}
