@charset "utf-8";
/* CSS Document */

/* font */

h1 {
	font-family: Trade Gothic LT Std, Trade Gothic LT Std Bold, Trade Gothic LT Std Cn, Trade Gothic LT Std Extended, Trade Gothic LT Std Light;
	
}

.logo{
	horizontal-align: center;
    width: 70px;
}

/*horizontal satoru changes*/

#headstr{
    position: fixed;
    padding: 25px;
   
    padding-top: 25px;
    z-index: 300;
    mix-blend-mode: ;
      max-width: 40%;
      max-height: 40%;

}

.descricao{
    position: fixed;
    bottom:25px;
    right:25px;    

    color:black;
    font-weight: 100;
    font-size: 0.8em;
    font-family: 'Trade Gothic LT Std';

    text-align: right;
}


.contact{
    position: fixed;
    max-width: 40%;
    max-height: 40%;
    z-index: 600;
    bottom:25px;

    mix-blend-mode: ;
    color:black;
    font-weight: bold;
  font-size: 1em;
  font-family: 'Trade Gothic LT Std', Cn, bold;
     transform: rotate(-90deg);
 transform-origin: left top;

}

.scroller{
    position: absolute;
    padding: ;
    padding-top: ;
    left: 50%
    z-index: 560;
    mix-blend-mode: ;
    color: black;
    
}


.letter{
    font-family: Trade Gothic LT Std, Trade Gothic LT Std Bold, Trade Gothic LT Std Cn, Trade Gothic LT Std Extended, Trade Gothic LT Std Light;
}

.titles1{
    position: fixed;
    text-align: center;
    left:50%;    
    margin-left: -1.5em;
    z-index: 600;
    top:25px;    
    mix-blend-mode: ;
    color:black;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Trade Gothic LT Std', Cn, bold;


}


.background{
    height:auto; 
    max-width:100%;
}


/*horizontal scroll */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  overflow: ;
  font-size: 1em;
}

.horizontal-scroll {
    
  width: 100vh;
  height: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  background: ;
  padding: 30px;
    padding-top: 150px;
    padding-right: 150px;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
          transform: rotate(-90deg) translate3d(0, -100vh, 0);
}
.horizontal-scroll > * {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg) translate3d(0, calc(-100vh + 60px), 0);
          transform: rotate(90deg) translate3d(0, calc(-100vh + 60px), 0);
}
.horizontal-scroll__block {
  width: calc(100vh - 60px);
  height: calc(100vh - 60px);
 
  position: relative;
}
.horizontal-scroll__block:not(:first-child) {
  margin-top: 30px;
}
.horizontal-scroll__block .background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center center / contain;

  background-blend-mode: luminosity;
}
.horizontal-scroll__block .letter {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  font-weight: bolder;
  font-size: 7em;
  font-family: 'Trade Gothic LT Std', Cn, bold;
  color: white;
    mix-blend-mode: difference;
    
}
.horizontal-scroll__block--purple .background {
    
  background-color: ;
}
.horizontal-scroll__block--yellow .background {
  background-color: ;
}
.horizontal-scroll__block--orange .background {
  background-color: ;
}
.horizontal-scroll__block--blue .background {
  background-color: ;
}
.horizontal-scroll__block--green .background {
  background-color: ;
}
.horizontal-scroll__block--pink .background {
  background-color: ;
}

.bgstr{
    background: url("http://initiativedeveloppeur.fr/wp-content/uploads/2019/03/sea1.jpg") center 0 no-repeat fixed;
}




/*fim horizontal*/
/* parallax*/










/* fim parallax*/

/* popup text___________________________________________________*/


video{

    display: block;
    width: calc(100vh - 60px);
    height: calc(100vh - 60px);
    background: no-repeat center center / contain;
    padding: calc(20vh - 60px);
}
.image-hover-image {
    display: block;
    width: calc(100vh - 60px);
    height: calc(100vh - 60px);
    background: no-repeat center center / contain;
    margin-top: calc(20vh - 60px);

}



/* Make the image round */

.image-hover-image img{
    display: block;
    width: calc(100vh - 60px);
    position: absolute;

  transition: opacity 0.01s linear;


}



.image-hover-text {
    
  position: absolute;
  top: 0;
  width: 100%;  
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.01s linear;
    z-index: 460;
    
}




.image-hover-text-bubble {
    display: block;
    width: calc(100vh - 60px);
    height: calc(100vw - 60px);    
    position: absolute;
    box-sizing: border-box;
    background:;
    border-radius: 0%;
    background:contain;
    text-align: center;
    z-index: 460;
    color:black;
    mix-blend-mode: difference;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Trade Gothic LT Std', Cn, bold;
    
}

.image-hover-text .image-hover-text-title{
  font-size: 25px;
  display: block;
mix-blend-mode: difference;
}

.image-hover-text:hover {
  opacity: 1;
}

.image-hover-text-container{
    opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  transition: opacity 0.5s linear; 
    

}

.image-hover-text-container:hover{
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */

    
}






/* fim popup text ________________________________________________*/



  
/* body border______________________________________________*/





html,body{
    width: 100%;
    height: 100%;
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/
    border: solid #fa9f14;
    border-width: 5px;
    overflow:hidden;
    display:block;
}






/* body border fim______________________________________________*/

/* body filter______________________________*/

body {
  background: white);
  background-image: radial-gradient(hsla(360, 100%, 0%, 0.30) 5%, transparent 0);
  background-size: 20px 20px;
}



#anchorID{cursor:pointer;}

/* body filter______________________________*/
/*scss*/


	
/* full screen hero scss*/

